{% extends "layout.html" %}

{% block content %}
    <h1 class="text-center mt-4">Update your profile, {{ user.username }}!</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container d-flex justify-content-center align-items-center mt-4">
            <!-- <div class="card text-center" style="width: 60%;"> -->
            <div class="card text-center">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-at" style="font-size: 1.2em;"></i>
                        </span>
                        <input class="form-control" type="text" value="{{request.user.username}}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-person" style="font-size: 1.2em;"></i>
                        </span>
                        {{ form.first_name }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-person" style="font-size: 1.2em;"></i>
                        </span>
                        {{ form.last_name }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-envelope-at" style="font-size: 1.2em;"></i>
                        </span>
                        {{ form.email }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-chat-left-quote" style="font-size: 1.2em;"></i>
                        </span>
                        {{ form.bio }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-camera-fill" style="font-size: 1.2em;"></i>
                        </span>
                        {{ form.photo }}
                    </div>
                    
                    <a href="{% url 'profile' request.user.id %}" class="btn btn-outline-secondary">Back</a>                    
                    <button class="btn btn-secondary">Update</button>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}