<div class="container row gap-3 d-flex justify-content-between">
    {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between align-items-center">
                    <h5>
                        <a href="{% url 'profile' tweet.user.id %}" class="btn btn-sm btn-outline-info" name="username">{{ tweet.user.username }}</a>
                        {% if tweet.user.is_staff %}
                            <a href="#" class="btn btn-sm btn-outline-warning">admin</a>
                        {% endif %}
                    </h5>
                    {% if tweet.user == user %}
                        <div>
                            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-sm btn-outline-light">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>

                <p class="card-text">
                    <div class="text-body text-opacity-50">
                        <small>Created: {{ tweet.created_at }}</small>
                        {% if tweet.created_at|date:"Y-m-d H:i:s" != tweet.updated_at|date:"Y-m-d H:i:s" %}
                            <small>Updated: {{tweet.updated_at}}</small>
                        {% endif %}
                    </div>
                </p>
                <hr>
                <p class="card-text" name="post_text">{{ tweet.text }}</p>
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-bottom" alt="...">
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>