{% extends "layout.html" %}

{% block title %}
    Chai aur Tweet
{% endblock title %}

{% block content %}
    {% if profile_owner.id and profile_owner.id == request.user.id %}
        <h1 class="text-center mt-4">Welcome to your profile, {{ user.username }}!</h1>
    {% elif profile_owner.id %}
        <h1 class="text-center mt-4">Welcome to {{ profile_owner.user.username }}'s profile!</h1>
    {% else %}
        <h1 class="text-center mt-4">Profile Page does not exist...</h1>
    {% endif %}

    <!-- {% if user.is_authenticated %}
        <h1 class="text-center mt-4">Welcome to your profile, {{ user.username }}!</h1>
    {% else %}

    {% endif %}  -->

    <!-- 
        1) authenticated
            a) go to own page
                -> Welcome to your profile, user!
            b) go to someone else's page
                -> Welcome to this person's profile!
        2) not authenticated
            a) go to someone page
                -> Welcome to this person's profile!
    -->


    <!-- <div class="container d-flex justify-content-center align-items-center mt-4"> -->
    <div class="container mt-4">
        {% if profile_owner.photo %}
            <img src="{{ profile_owner.photo.url }}" class="rounded mx-auto d-block" alt="..." style="width:180px;">
        {% endif %}

        <div class="card mx-auto mt-4" style="width: 40%;">
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-at" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value="{{ profile_owner.user.username }}" aria-label="Disabled input example" disabled readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-person" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value=" {% if profile_owner.first_name %}{{profile_owner.first_name}}{% endif %}{% if profile_owner.last_name %} {{profile_owner.last_name}}{% endif %}" aria-label="Disabled input example" disabled readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-envelope-at" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value="{{ profile_owner.email }}" aria-label="Disabled input example" disabled readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-chat-left-quote" style="font-size: 1.2em;"></i>
                    </span>
                    {% if profile_owner.bio %}
                        <textarea class="form-control" rows="4" style="height:100%;" aria-label="With textarea" disabled readonly>{{ profile_owner.bio }}</textarea>
                    {% else %}
                        <textarea class="form-control" rows="4" style="height:100%;" aria-label="With textarea" placeholder="The bio goes here..." disabled readonly></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- profile_owner -> {{profile_owner.user.id}}
    request user -> {{request.user.id}} -->

    {% if user.is_authenticated and profile_owner.user.id == request.user.id %}
        <div class="text-center">
            <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-outline-secondary mt-4">Edit Profile</a>    
        </div>
    {% endif %} 

{% endblock content %}