{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}

    {% if profile_owner.id and profile_owner.id == request.user.id %}
        <h1 class="text-center mt-4" name="profile_welcome_msg">Welcome to your profile, {{ user.username }}!</h1>
    {% elif profile_owner.id %}
        <h1 class="text-center mt-4" name="profile_welcome_msg">Welcome to {{ profile_owner.user.username }}'s profile!</h1>
    {% else %}
        <h1 class="text-center mt-4" name="profile_welcome_msg">Profile Page does not exist...</h1>
    {% endif %}

    <div class="d-flex justify-content-center">
        {% if messages %}
            <div class="alert alert-dismissible fade show" style="width: 500px;" role="alert">
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center my-3">
        <div class="container row" style="width:50%;">
            <!-- After successfully updating pwd, the page is redirected here and the user sees the success msg.  -->
            <div class="btn-group" role="group">
                <input type="checkbox" class="btn-check" id="btncheck-profile" autocomplete="off" checked>
                <label class="btn btn-outline-light" for="btncheck-profile" data-bs-toggle="collapse" data-bs-target="#profileCollapse">Profile</label>
                
                <input type="checkbox" class="btn-check" id="btncheck-tweets" autocomplete="off">
                <label class="btn btn-outline-light" for="btncheck-tweets" data-bs-toggle="collapse" data-bs-target="#collapseTweets">Tweets</label>
            </div>
        </div>
    </div>

    <!-- <div class="container d-flex justify-content-center align-items-center mt-4"> -->
    <div class="container mt-4 collapse show" id="profileCollapse">
        {% if profile_owner.photo %}
            <img src="{{ profile_owner.photo.url }}" class="rounded mx-auto d-block" alt="..." style="width:200px;">
        {% endif %}

        <div class="card mx-auto mt-4" style="width: 40%;">
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-at" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value="{{ profile_owner.user.username }}" aria-label="Disabled input example" disabled readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-person" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value=" {% if profile_owner.first_name %}{{profile_owner.first_name}}{% endif %}{% if profile_owner.last_name %} {{profile_owner.last_name}}{% endif %}" aria-label="Disabled input example" disabled readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-envelope-at" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value="{{ profile_owner.email }}" aria-label="Disabled input example" disabled readonly>
                </div>

                <!-- <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-calendar" style="font-size: 1.2em;"></i>
                    </span>
                    <input class="form-control" type="text" value="{{ profile_owner.user.date_joined }}" aria-label="Disabled input example" disabled readonly>
                </div>
                 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-chat-left-quote" style="font-size: 1.2em;"></i>
                    </span>
                    {% if profile_owner.bio %}
                        <textarea class="form-control" rows="4" style="height:100%;" aria-label="With textarea" disabled readonly>{{ profile_owner.bio }}</textarea>
                    {% else %}
                        <textarea class="form-control" rows="4" style="height:100%;" aria-label="With textarea" placeholder="The bio goes here..." disabled readonly></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user.is_authenticated and profile_owner.user.id == request.user.id %}
        <div class="text-center">
            <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-outline-secondary m-4">Edit Profile</a>
            <a href="{% url 'change_password' %}" class="btn btn-outline-secondary m-4">Change Password</a>
        </div>
    {% endif %} 
    </div>

    {% if tweets %}
        <div class="container row gap-3 mt-3 collapse" id="collapseTweets">
            <div class="col-12 d-flex align-items-end justify-content-end">
                {% include "partials/tweet_sorting_options.html" %}
            </div>
            <div id="posts-container">
                {% include "partials/tweet_list.html" %}
            </div>
        </div>
    {% endif %}

    
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const profileCheckbox = document.getElementById('btncheck-profile');
        const tweetsCheckbox = document.getElementById('btncheck-tweets');


        profileCheckbox.addEventListener('change', function () {
            if (this.checked) {
                tweetsCheckbox.checked = false;
                document.getElementById('collapseTweets').classList.remove('show');
            }
        });
    
        tweetsCheckbox.addEventListener('change', function () {
            if (this.checked) {
                profileCheckbox.checked = false;
                document.getElementById('profileCollapse').classList.remove('show');
            }
        });
    });

    $(document).ready(function() {
        $('#sort-by').change(function() {
            var sortingCriteria = $(this).val();
            
            $.ajax({
                url: "{% url 'profile' request.user.id %}",
                type: "POST",
                data: {
                    'sort_by': sortingCriteria,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#posts-container').html(data);
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        });
    });

</script>
{% endblock content %}
