{% extends "layout.html" %}


{% block title %}
    Chai aur Tweet
{% endblock title %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to Chai's!</h1>
    
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-auto">
                <a href="{% url 'tweet_create' %}" class="btn btn-outline-primary">Create a Tweet!</a>
            </div>
            <div class="col-auto ms-auto">
                <form method="post" class="d-flex align-items-center gap-2">
                    {% csrf_token %}
                    <select class="form-select" name="sort_by" aria-label="Default select example">
                        <option selected disabled>Sort by</option>
                        <option value="latest_first" {% if sorting_criteria == "latest_first" %}selected{% endif %}>Latest first</option>
                        <option value="oldest_first" {% if sorting_criteria == "oldest_first" %}selected{% endif %}>Oldest first</option>
                        <option value="username_asc" {% if sorting_criteria == "username_asc" %}selected{% endif %}>Username ascending</option>
                        <option value="username_desc" {% if sorting_criteria == "username_desc" %}selected{% endif %}>Username descending</option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Sort</button>
                </form>
            </div>
        </div>
    </div>
    
    {% include "tweet_list.html" %}


{% endblock content %}