{% extends "layout.html" %}


{% block title %}
    Chai aur Tweet
{% endblock title %}

{% block content %}
    <h1 class="text-center mt-4">Search Results</h1>
    <a href="{% url 'tweet_home'%}" class="btn btn-secondary">Back</a>

    <div class="d-flex justify-content-center">
        <div class="container row" style="width:50%;">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#users-queried" aria-expanded="false" aria-controls="collapseExample">Users containing "{{query}}"</button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#tweets-queried" aria-expanded="false" aria-controls="collapseExample">Tweets containing "{{query}}"</button> -->
                
                <input type="checkbox" class="btn-check" id="btncheck-users" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck-users" data-bs-toggle="collapse" data-bs-target="#users-queried">Users containing "{{query}}"</label>
                
                <input type="checkbox" class="btn-check" id="btncheck-tweets" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck-tweets" data-bs-toggle="collapse" data-bs-target="#tweets-queried">Tweets containing "{{query}}"</label>
            </div>    
        </div>
    </div>
    
    <div class="container row gap-3 text-center collapse" id="users-queried">
        <h3 class="mt-3">Users containing "{{query}}"</h3>

        {% for usr_queried, profile_queried in users_and_profiles_queried %}
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">{% if profile_queried.first_name %}{{ profile_queried.first_name }}{% endif %} {% if profile_queried.last_name %}{{ profile_queried.last_name }}{% endif %}</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                    
                    {% if profile_queried.photo %}
                        <img src="{{ profile_queried.photo.url }}" class="card-img my-2" alt="">
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="{% url 'profile' usr_queried.id %}" class="btn btn-outline-info">{{ usr_queried }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>

    <div class="container row gap-3 collapse" id="tweets-queried">
        <div class="text-center"> 
            <h3 class="my-3">Tweets containing "{{ query }}"</h3>
            {% include "tweet_list.html" %}
        </div> 
    </div>

{% endblock content %}
