{% extends "layout.html" %}


{% block title %}
    Chai aur Tweet
{% endblock title %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to Chai's!</h1>
    
    {% if search %}
        <a href="{% url 'tweet_list'%}" class="btn btn-secondary mb-4">Back</a>
        <h3 class="mb-3">Users containing "{{query}}"</h3>

        <div class="container row gap-3 text-center">
            {% for usr_queried, profile_queried in users_and_profiles_queried %}
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{% if profile_queried.first_name %}{{ profile_queried.first_name }}{% endif %} {% if profile_queried.last_name %}{{ profile_queried.last_name }}{% endif %}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                        
                        {% if profile_queried.photo %}
                            <img src="{{ profile_queried.photo.url }}" class="card-img-top my-2" alt="">
                        {% endif %}

                        <p class="card-text"><a href="{% url 'profile' usr_queried.id %}" class="btn btn-outline-info">{{ usr_queried }}</a></p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            {% endfor %}
        </div>

        <br><hr><br>
        <h3 class="mb-3">Tweets containing "{{ query }}"</h3>

        <!-- <h3>
            You searched for tweets containing "{{ query }}".
        </h3> -->
        
        <!-- <br> -->
    {% else %}
        <a href="{% url 'tweet_create' %}" class="btn btn-primary mb-4">Create a Tweet!</a>
    {% endif %}

    <div class="container row gap-3">
        {% for tweet in tweets %}
            <div class="card" style="width: 18rem;">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'profile' tweet.user.id %}" class="btn btn-sm btn-info">{{ tweet.user.username }}</a>
                    </h5>
                    <p class="card-text"><small>Created: {{ tweet.created_at }}</small>
                        {% if tweet.created_at|date:"Y-m-d H:i:s" != tweet.updated_at|date:"Y-m-d H:i:s" %}
                            <small>Updated: {{tweet.updated_at}}</small>
                        {% endif %}
                    </p>
                    <hr>
                    <p class="card-text">{{ tweet.text }}</p>
                    {% if tweet.user == user %}
                        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}