{% extends "layout.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card mx-auto mt-4" style="width: 40%;">
        <div class="card-title">
            <h1 class="text-center mt-4">Change Password</h1>
        </div>
        <div class="card-body">
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% endif %} text-center">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-at" style="font-size: 1.2em;"></i>
                </span>
                <input class="form-control" type="text" value="{{ request.user.username }}" aria-label="Disabled input example" disabled readonly>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mt-3">
                    {{form | crispy}}
                </div>
                <button class="btn btn-primary offset-4">Change Password</button>
            </form>
        </div>
    </div>

    
{% endblock content %}